*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    min-height: 100vh;
    background: url(imgs/background.jpg);
    background-size: cover;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.2em
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style-type: none;
    margin-left: 2em;
}
header ul li a{
    font-weight: 600;
    text-decoration: none;
    padding: 0.5em 1em;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover{
    background: #fff;
    color: #2b1055;
}
.active{
    background: #fff;
    color: #2b1055;
}
section{
    display: flex;
    color: #fff;
    font-size: 1.2em;
    max-width: 75vw;
}